@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til dit nye hår :-)!</h1>
    <p>Dit nye hår kommer til at være top nice hehe. Tillykke med det og vi håber du glæder dig til at komme igen :-)!!</p>
</div>
